[Unit]
Description=Performs an incremental backup.

[Service]
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
Type=simple
ExecStart=backupper --incremental
